body {
  background: url("https://images.pexels.com/photos/2506923/pexels-photo-2506923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  font-family: 'arial';
  font-size: 15px;
}

.container {
  width: 100%;
  background: transparent;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

div {
  background: rgba(180,180,180,0.95);
  padding: 30px;
  text-align: center;
  margin: auto;
  width: 26%;
  margin-bottom: 20px;
  border-radius: 5%
}

#Enno {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

#header {
  margin: 0px;
  padding: 0px;
  width: 300px;
  color: white;
  background: transparent;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #F7567C;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #035E7B;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.horizontal_list {
  padding-left: 0px;
}

li.img {
  display: inline;
  vertical-align: middle;
  align-content: middle;
  margin: 25px;
  padding: 5px;
  width: 25%;
  height: 25%;
  border-radius: 25%;
  image-orientation: 0deg
}

img {
  border-radius: 10%;
  image-orientation: from-image;
}

li.icon {
  display: inline;
  margin: 2px;
  padding: 2px;
}

a {
  color: #114B5F;
  text-decoration: none
}

a:hover {
  color: #028090;
}

